---
layout: default
title: Books
---

<div class="books">
  {% for book in paginator.books %}
  <div class="book">
    <h1 class="book-title">
      <a href="{{ site.baseurl }}{{ book.url }}">
        {{ book.title }}
      </a>
    </h1>

    <span class="book-date">{{ book.date | date_to_string }}</span>
    {% if book.tags %} | 
    {% for tag in book.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="book-tag">{{ tag }}</a>
    {% endfor %}
    {% endif %}

    <article>
      {{ book.excerpt | markdownify }}
    <article>
    <div class="book-more">
      {% if site.disqus_short_name %}
      <a href="{{ site.baseurl }}{{ book.url }}#disqus_thread"> <i class="fa fa-comments" aria-hidden="true"></i>Comment</a>&nbsp;
      {% endif %}
      <a href="{{ site.baseurl }}{{ book.url }}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Read more</a>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/books/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/books/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/books/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
